<!-- templates/profile.html -->

{% extends "base2.html" %}

{% block content %}

<h1 class="ui header">About Pulse</h1>

<h3 class="ui header">Staying on track with course work</h3>
<p>Pulse is a tool that is developed for students to keep track of their study progress for courses. Pulse displays chapters with relevant tasks for you to see the workload in each week. By checking these tasks off upon completion, you are able to keep track of your progress each week to make sure you are up-to-date on the course!
<h3 class="ui header">Nudging participation</h3>
<p>Pulse encourages discussions on the topics between students. As a result, a live feed is integrated, allowing you to place a comment on a task if you, for example, need help or explanation. Other students get notified when a new comment is placed on a task and can reply to your comments. Being active on Pulse is rewarded by earning XP, which allows you to climb up on the overall leaderboard and earn special badges!
</p>

<h2 class="ui header">Contact</h2>
<p>Pulse has been developed by <a href="https://hannesdatta.com">Hannes Datta</a>, Associate Prof. of Marketing at <a href="https://tiu.nu/datta">Tilburg University</a>, The Netherlands.
<br><br>
Contact: <a href="mailto:h.datta@tilburguniversity.edu">email</a>
<br>GitHub: <a href="https://github.com/hannesdatta/pulse">repository</a>

</p>


{% endblock %}
