<!-- templates/index.html -->

{% extends "base2.html" %}

{% block content %}


<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>


<body onload="flashMessage()">
  <script>
    function flashMessage() {
      if ("{{ flash_message }}" == "True") {
          confetti();

      }
    }
  </script>


<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href = "/modules/{{task.course_id}}">{{task.course_name}}</a>
  <div class="divider"> / </div>
  <a href = "/todo/{{task.module_id}}" class="section">{{task.module_name}}</a>
  <div class="divider"> / </div>
  <a class="active section">{{task.name}}</a>

</div>


<h1>
{{task.name}}
</h1>
<p>{{task.description}}</p>

<div class="ui link list">
  {% for link in task['links'] %}
<a class="item" href="{{link}}">{{link}}</a>
{% endfor %}

</div>

<div class="ui labels">
  {% if task['stats']['completed'] == True %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=completed&status=0&module={{task.module_id}}" class="ui active label">Completed<div class="detail">{{task['stats']['stat_completed']}}</div></a>
  {% else %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=completed&status=1&module={{task.module_id}}" class="ui label">Completed<div class="detail">{{task['stats']['stat_completed']}}</div></a>
  {% endif %}

  {% if task['stats']['explain'] == True %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=explain&status=0&module={{task.module_id}}" class="ui active label">Need explanation<div class="detail">{{task['stats']['stat_explain']}}</div></a>
  {% else %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=explain&status=1&module={{task.module_id}}" class="ui label">Need explanation<div class="detail">{{task['stats']['stat_explain']}}</div></a>
  {% endif %}

  {% if task['stats']['practice'] == True %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=practice&status=0&module={{task.module_id}}" class="ui active label">Need practice<div class="detail">{{task['stats']['stat_practice']}}</div></a>
  {% else %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=practice&status=1&module={{task.module_id}}" class="ui label">Need practice<div class="detail">{{task['stats']['stat_practice']}}</div></a>
  {% endif %}

  {% if task['stats']['givehelp'] == True %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=givehelp&status=0&module={{task.module_id}}" class="ui active label">Can help others<div class="detail">{{task['stats']['stat_givehelp']}}</div></a>
  {% else %}
  <a href = "/todo-update/?task_id={{task['id']}}&type=givehelp&status=1&module={{task.module_id}}" class="ui label">Can help others<div class="detail">{{task['stats']['stat_givehelp']}}</div></a>
  {% endif %}

</div>



<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>

  {% for comment in comments %}
  <div class="comment">
    <a class="avatar">
      <i class="user icon"></i>
    </a>
    <div class="content">
      <a class="author">{{comment.nickname}}</a>
      <div class="metadata">
        <span class="date">{{comment.timestamp_printable}}</span>
      </div>
      <div class="text">
        {{comment.text}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
        {% if comment.show_delete == True %}
        <a class="delete" href = "/delete_comment/?comment_id={{comment.id}}">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

<!--
<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>

      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

-->
  <form action="/submit_comment/?task_id={{task.id}}" method="POST" class="ui reply form">
    <div class="field">
      <textarea name = "comment"></textarea>
    </div>
    <button class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Comment
    </button>
  </form>
</div>


{% endblock %}
