<!-- templates/profile.html -->

{% extends "base2.html" %}

{% block content %}

<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
</div>


<h1 class="title">
  Welcome, {{ user.nickname }}!
</h1>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="ui warning message">
  {{ messages[0] }}
</div>

{% endif %}
{% endwith %}

<div class="ui cards">

  {% for course in courses %}

  <div class="card">
    <div class="content">
      <div class="header">{{course.name}}</div>
      <div class="description">
        {{course.description}}
      </div>
    </div>
    {% if course.has_modules %}
    <a class="ui bottom attached button" href="/modules/{{course.id}}">
    {% else %}
    <a class="ui bottom attached button disabled" href="/modules/{{course.id}}">
    {% endif %}
        <i class="angle right icon"></i>
      View goals
    </a>
    <div class="extra content">
      <span class="right floated">
        <a href="/leaderboard/{{course.id}}"><i class="chart line icon"></i>
        Leaderboard</a>
        </span>
      <span>
        <i class="user icon"></i>
        {{course.stats.users}} learners
      </span>

    </div>

  </div>

  {% endfor %}



</div>




<!--
<div class="ui segment">
    <p class="ui big header">ID AND TITLE</p>

    <span class="ui gray label">Not Complete</span>
    <span class="ui green label">Completed</span>

    <a class="ui toggle button nonactive" href="/update/">Voted</a>
    <a class="ui toggle button active" href="/update/">Mark as done</a>
    <!--
      <div class="ui bottom attached purple progress">
      <div class="bar"></div>
    </div>
    -->



{% endblock %}
