<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}




<div class="ui breadcrumb ">
  <a class="section">Home</a>
  <div class="divider"> / </div>
  <a class="section">Store</a>
  <div class="divider"> / </div>
  <div class="active section">T-Shirt</div>
</div>



<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div class="ui cards centered">

  {% for course in courses %}

  <div class="card">
    <div class="content">
      <div class="header">{{course.name}}</div>
      <div class="description">
        {{course.description}}
      </div>
    </div>
    <a class="ui bottom attached button" href="/modules/{{course.id}}">
      <i class="angle right icon"></i>
      View goals
    </a>
    <div class="extra content">
      <span class="right floated">
        Joined in 2021
      </span>
      <span>
        <i class="user icon"></i>
        75 members
      </span>

    </div>

  </div>

  {% endfor %}



</div>




<!--
<div class="ui segment">
    <p class="ui big header">ID AND TITLE</p>

    <span class="ui gray label">Not Complete</span>
    <span class="ui green label">Completed</span>

    <a class="ui toggle button nonactive" href="/update/">Voted</a>
    <a class="ui toggle button active" href="/update/">Mark as done</a>
    <!--
      <div class="ui bottom attached purple progress">
      <div class="bar"></div>
    </div>
    -->




    </div>
  </div>
  <p></p>
  <p></p>
</div>


{% endblock %}
