<!-- templates/index.html -->

{% extends "base2.html" %}

{% block content %}

<h1 class="title">
  Use Pulse to stay on track with your course work.
</h1>

<br>
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="ui warning message">
  {{ messages[0] }}
</div>

{% endif %}
{% endwith %}

<form method="POST" action="/" class="ui compact placeholder segment">
      <div class="ui form">
        <div class="field">
          <label>Email address</label>
          <div class="ui left icon input">
            <input type="text" name="email" placeholder="@tilburguniversity.edu">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="ui checkbox">
        <input type="checkbox" name="remember" checked="checked">
        <label>Remember me</label>
        </div>
        <br><br>By proceeding, you agree to the <br>
        <a href="/terms">Terms of Service and Privacy Notice.</a>

<p></p>
        <button class="ui blue submit button">Email a<br>Magic Link!</button>
      </div>

</form>
{% endblock %}
