<!-- templates/profile.html -->

{% extends "base2.html" %}


</div>


{% block content %}


<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href = "/modules/{{course.id}}">{{course.name}}</a>
  <div class="divider"> / </div>
  <a class="active section">Leaderboard</a>

</div>

<br>

<h2>Leaderboard</h2>
<button class="ui basic button" onclick="myFunction()">
  <span><i class="birthday cake icon"></i>
  View how to score experience points and earn badges!</span>

</button>

<button class="ui basic button" onclick="myFunction2()">
  <span><i class="birthday cake icon"></i>
  View own scores!</span>

</button>

<table class="ui very basic collapsing celled table">

  <thead>
    <tr><th>Rank</th>
    <th>Name</th>
    <th>XP</th>
    <th>Last activity</th>

  </tr></thead>

  <tbody>

    {% for item in experience %}

    <tr>
      <td>
        {{item.rank}}
      </td>

      <td>
        <h4 class="ui image header">
          {% if item['is_user'] == True %}
            <i class="user icon red"></i>
          {% else %}
            <i class="user icon"></i>
          {% endif %}

          <!--<img src="/images/avatar2/small/lena.png" class="ui mini rounded image">-->
          <div class="content">
            {{item.nickname}}
            <div class="sub header">{{item.leaderboard_message}}
          </div>
        </div>
      </h4></td>
      <td>
        {{item.xp}}
      </td>
      <td>
        {{item.last_activity}}
      </td>
    </tr>

    {% endfor %}

  </tbody>
</table>


<div class="ui message">
  <i class="close icon"></i>
  <div class="header">
    Work in progress...
  </div>
  <p>Our leaderboard is still in early beta... so... XPs and ranks are likely to change as we're adding more features.
  Don't want to appear on this leaderboard? Or want to personalize your status message? Go to <a href='/me'>your settings</a> to turn it off!</p>

</div>

<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>


<div class="ui basic modal v1" id = "myModal">
  <div class="ui icon header">
    <i class="birthday cake icon"></i>
    Achievements
  </div>
  <div class="content">
    <p>Find out how you can boost your experience points (XP) and earn badges!</p>


<table class="ui celled inverted table">
  <thead>
    <tr><th>No.</th>
      <th>Achievement</th>
    <th>Description</th>
    <th>XP</th>

  </tr></thead>
  <tbody>
    {% for achievement in achievements %}
    <tr>
      <td data-label="Achievement">{{achievement.order}}</td>
      <td data-label="Achievement">{{achievement.task_short_name}}</td>
      <td data-label="Description">{{achievement.task_description}}</td>
      <td data-label="XP">{{achievement.xp_earned}}</td>
      </tr>
    {% endfor %}

  </tbody>
</table>


  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Close
    </div>
  </div>
</div>



<div class="ui basic modal v2">
  <div class="ui icon header">
    <i class="birthday cake icon"></i>
    My Achievements
  </div>
  <div class="content">
    <p>Find out how you scored experience points (XP) and earned badges!</p>


    <div class="scrolling content">

    <div class="ui inverted segment">
      <div class="ui inverted relaxed divided list">

        {% for oxp in own_xp %}
        <div class="item">
          <div class="content">
            <div class="header">{{oxp.timestamp}} ({{oxp.xp}} XP)</div>
            {{oxp.activity.task_short_name}}
            {% if oxp.value>1 %}
              ({{oxp.value}}x)
            {% endif %}
          </div>
        </div>
        {% endfor %}


      </div>
    </div>

</div>

  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Close
    </div>
  </div>
</div>



<script>
function myFunction() {
  $('.ui.basic.modal.v1')
  .modal('show')
;
}

function myFunction2() {
  $('.ui.basic.modal.v2')
  .modal('show')
;
}
</script>


<script>

</script>
{% endblock %}
