<!-- templates/profile.html -->

{% extends "base2.html" %}

{% block content %}


<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="active section">{{course.name}}</a>

</div>

<p><p>


<div class="ui cards">

  {% for module in modules %}

  <div class="card">
    <div class="content">
      <a class="header" href="/todo/{{module.id}}">{{module.name}}</a>
      <div class="description">
        {{module.description}}
      </div>
    </div>
    <a class="ui bottom attached button" href="/todo/{{module.id}}">
      <i class="angle right icon"></i>
      View goals
    </a>

    <div class="ui tiny active progress" id="progress_{{module.id}}">
      <div class="bar"></div>
      <div class="label">You have completed {{module.stats.sharecompleted}}%</div>
    </div>

    <div class="extra content">
      <span class="right floated">

        {% if module.stats.has_new_comments == True %}

            <i class="comment red icon"></i> {{module.stats.comment_count}}

            {% else %}

            <i class="comment outline icon"></i> {{module.stats.comment_count}}

        {% endif %}


      </span>
      <span>
        <i class="user icon"></i>
        {{module.stats.users}} learners
      </span>

    </div>


  </div>


  {% endfor %}



</div>



    </div>
  </div>
  <p></p>
  <p></p>
</div>


{% for module in modules %}

<script>

  $('#progress_{{module.id}}').progress({
    percent: {{module.stats.sharecompleted}}
  });

</script>

{% endfor %}

{% endblock %}
