<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}


<div class="ui breadcrumb ">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="active section">{{course.name}}</a>

</div>

<p><p>


<div class="ui cards centered">

  {% for module in modules %}

  <div class="card">
    <div class="content">
      <div class="header">{{module.name}}</div>
      <div class="description">
        {{module.description}}
      </div>
    </div>
    <a class="ui bottom attached button" href="/todo/{{module.id}}">
      <i class="angle right icon"></i>
      View goals
    </a>
    <div class="extra content">
      <span class="right floated">
        Joined in 2021
      </span>
      <span>
        <i class="user icon"></i>
        75 members
      </span>

    </div>

  </div>

  {% endfor %}



</div>



    </div>
  </div>
  <p></p>
  <p></p>
</div>


{% endblock %}
