<!-- templates/profile.html -->

{% extends "base2.html" %}

{% block content %}

<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
  
</div>

<p><p>


<h1 class="title">
  Hi, {{ user.nickname }}!

</h1>
<b>Change how you interact with Pulse.</b>
<br>

<br>
<br>

This is who we think you are:
<div class="ui input disabled">
  <input type="text" placeholder="Your actual name (we won't share it!)">
</div>

<br>


Which nickname would you like to use?
<div class="ui input">
  <input type="text" placeholder="Nickname">
</div>

<br>

<div class="ui slider checkbox">
  <input type="checkbox" name="newsletter" checked="checked">
  <label>I want to see the progress of others students</label>
</div>
<br>

{% endblock %}
