<!-- templates/profile.html -->

{% extends "base2.html" %}

{% block content %}

<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>

</div>

<p><p>


<h1 class="title">
  Hi, {{ user.nickname }}!

</h1>
<b>Change how you interact with Pulse.</b>
<br>

<br>
<br>

<form method="POST" action="/saveuser/">

  E-mail address (you can't change this)
  <div class="ui input disabled">
    <input type="text" value="{{user.email}} ">
  </div>

  <br>


  Which nickname would you like to use?
  <div class="ui input">
    <input name = 'nickname' type="text" placeholder="Provide a nickname" value = "{{user.nickname}}">
  </div>

  <br>

  <div class="ui checkbox">
  <input type="checkbox" name="leaderboard" {{leaderboard}}>
  <label>Appear on leaderboard</label>
  </div>

  <br>

  <div class="ui input">
    <label>Short message to appear on leaderboard</label>
      <input name = 'message' type="text" placeholder="Enter a short message here" value = "{{msg}}">
  </div>




  <br>
    <br>
      <br>
<!--
  <div class="ui slider checkbox">
    <input type="checkbox" name="newsletter" checked="checked">
    <label>I want to see the progress of others students</label>
  </div>
  <br>
  <br>
-->

  <button class="ui blue button">Save</button>

  <br>

  <br>


<!--  <button class="ui button">Delete my data</button>
  -->
</form>

{% endblock %}
