<!-- templates/profile.html -->

{% extends "base2.html" %}

{% block content %}

<h1 class="ui header">Terms of Service</h1>

Pulse is a newly developed tool and is, therefore, subject to changes. As a result, the terms of service may be updated regularly, upon the introduction of new features.

<h2 class="ui header">1. Setting up an account</h2>
When using Pulse for one of your courses, you are required to create an account. An email will be sent to your email address, in which a unique link is shared to you, which can be used to login to Pulse. You should not share this link with anyone.

<h2 class="ui header">2. Account information</h2>
Once you have successfully created an account, you will be given a random nickname. In your account settings, you may choose to modify your username to a different nickname or your real name. Keep in mind that offensive nicknames are a violation of our community guidelines, so please be considerate when changing your nickname!

<h2 class="ui header">3. Cookie policy</h2>
Pulse uses cookies so that you don't have to manually login each time you access the platform. Once logged on to Pulse, we keep track of your progress and update the leaderboard (e.g., when you add a comment, or mark a "to do" as done). Your data may be used to improve activity on the platform or serve as a basis to discuss bottlenecks during lectures or interactions with your teachers.

<h2 class="ui header">4. Privacy statement</h2>
Pulse uses a leaderboard and feed to promote activity on the platform. If at any time you wish to be hidden from this leaderboard or feed, you can change it in the account settings. Furthermore, if you want to delete a comment that you placed, you can do so by clicking on the ‘delete’ button below your comment.

{% endblock %}
