<!-- templates/profile.html -->

{% extends "base2.html" %}


</div>


{% block content %}


<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href = "/modules/{{tasks.course_id}}">{{tasks.course_name}}</a>
  <div class="divider"> / </div>
  <a class="active section">{{tasks.name}}</a>

</div>


{% for category in tasks['items'] %}
 <div class="ui secondary segment">
    <p><b>{{ category.category_name }}</b></p>

  </div>

  {% for task in category['items'] %}

    <div class="ui basic segment">
      <div class="ui grid">
  <div class="fourteen wide column"><a href = "/comments?module_id={{tasks.id}}&task_id={{task.id}}" >{{task.name}} </a>

    {% if task['stats']['stat_comments'] > 0 %}

        {% if task['stats']['updated_comments'] >= task['stats']['user_viewed'] %}

          <small>
            <i class="comment red icon"></i> {{task['stats']['stat_comments']}}
          </small>

        {% else %}

        <small>
          <i class="comment outline icon"></i> {{task['stats']['stat_comments']}}
        </small>

        {% endif %}

    {% endif %}

    <p><small>{{task.description}}</small></p>
</div>
  <div class="two wide column">

    {% if task['stats']['completed'] == False %}
      <a class="ui small label" href = "/todo-update/?task_id={{task['id']}}&type=completed&status=1&module={{tasks.id}}"><small>Mark as complete</a>
    {% else %}
      <a class="ui small green label" href = "/todo-update/?task_id={{task['id']}}&type=completed&status=0&module={{tasks.id}}"><small>Completed</a>
    {% endif %}

    <div class="ui simple dropdown">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="default text"  data-tooltip="Request support that will be addressed during the live streams">
      {% if task['stats']['explain'] == True or task['stats']['practice'] == True or task['stats']['givehelp'] == True %}
          Support requested
      {% else %}
          Support
      {% endif %}
      </div>
      <div class="menu">
        {% if task['stats']['explain'] == True %}
        <a class="active item" href = "/todo-update/?task_id={{task['id']}}&type=explain&status=0&module={{tasks.id}}"><i class="icon check"></i>Need explanation</a>
        {% else %}
        <a class="item" href = "/todo-update/?task_id={{task['id']}}&type=explain&status=1&module={{tasks.id}}">Need explanation</a>
        {% endif %}
        {% if task['stats']['practice'] == True %}
        <a class="active item" href = "/todo-update/?task_id={{task['id']}}&type=practice&status=0&module={{tasks.id}}"><i class="icon check"></i>Need practice</a>
        {% else %}
        <a class="item" href = "/todo-update/?task_id={{task['id']}}&type=practice&status=1&module={{tasks.id}}">Need practice</a>
        {% endif %}
        {% if task['stats']['givehelp'] == True %}
        <a class="active item" href = "/todo-update/?task_id={{task['id']}}&type=givehelp&status=0&module={{tasks.id}}"><i class="icon check"></i>Can help others</a>
        {% else %}
        <a class="item" href = "/todo-update/?task_id={{task['id']}}&type=givehelp&status=1&module={{tasks.id}}">Can help others</a>
        {% endif %}
      </div>
    </div>




  </div>
  </div>



    </div>

<div class="ui fitted divider"></div>
        {% endfor %}


{% endfor %}


{% endblock %}
