<!-- templates/profile.html -->

{% extends "base2.html" %}


</div>


{% block content %}

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>


<body onload="flashMessage()">
  <script>
    function flashMessage() {
      if ("{{ flash_message }}" == "True") {
          confetti();

      }
    }
  </script>


<div class="ui breadcrumb tiny">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href = "/modules/{{tasks.course_id}}">{{tasks.course_name}}</a>
  <div class="divider"> / </div>
  <a class="active section">{{tasks.name}}</a>

</div>

{% for category in tasks['items'] %}
 <div class="ui secondary segment">
    <p><b>{{ category.category_name }}</b></p>

  </div>

  {% for task in category['items'] %}

    <div class="ui basic segment">
      <div class="ui grid">
  <div class="fourteen wide column"><a href = "/comments?module_id={{tasks.id}}&task_id={{task.id}}" >{{task.name}} </a>

    {% if task['stats']['stat_comments'] > 0 %}

        {% if task['stats']['updated_comments'] >= task['stats']['user_viewed'] %}

          <small>
            <i class="comment red icon"></i> {{task['stats']['stat_comments']}}
          </small>

        {% else %}

        <small>
          <i class="comment outline icon"></i> {{task['stats']['stat_comments']}}
        </small>

        {% endif %}

    {% endif %}

    <p><small>{{task.description}}</small></p>
</div>
  <div class="two wide column">
  <!--  <a id = "1" onClick="status_click(this.id)" class="ui small label" href = "/todo-update/?task_id={{task['id']}}&type=completed&status=1&module={{tasks.id}}"><small>Mark as complete</a>
      <a class="ui small green label" href = "/todo-update/?task_id={{task['id']}}&type=completed&status=0&module={{tasks.id}}"><small>Completed</a>
-->
    {% if task['stats']['completed'] == False %}
      <a id = "completed_{{task['id']}}" task_id = "{{task['id']}}" type = "completed" status = "0" onClick="status_click(this.id)" class="ui small label"><small>Mark as complete</small></a>
    {% else %}
      <a id = "completed_{{task['id']}}" task_id = "{{task['id']}}" type = "completed" status = "1" onClick="status_click(this.id)" class="ui small green label"><small>Completed</small></a>
    {% endif %}

    <div class="ui simple dropdown">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div id = "req_{{task['id']}}" class="default text"  data-tooltip="Request support that will be addressed during the live streams">
      {% if task['stats']['explain'] == True or task['stats']['practice'] == True or task['stats']['givehelp'] == True %}
          <small>Support requested</small>
      {% else %}
          <small>Support</small>
      {% endif %}
      </div>
      <div class="menu">
        {% if task['stats']['explain'] == True %}
        <a id = "explain_{{task['id']}}" task_id = "{{task['id']}}" type = "explain" status = "1" onClick="status_click(this.id)" class="active item"><i class="icon check"></i>Need explanation</a>
        {% else %}
        <a id = "explain_{{task['id']}}" task_id = "{{task['id']}}" type = "explain" status = "0" onClick="status_click(this.id)" class="item">Need explanation</a>
        {% endif %}
        {% if task['stats']['practice'] == True %}
        <a id = "practice_{{task['id']}}" task_id = "{{task['id']}}" type = "practice" status = "1" onClick="status_click(this.id)" class="active item"><i class="icon check"></i>Need practice</a>
        {% else %}
        <a id = "practice_{{task['id']}}" task_id = "{{task['id']}}" type = "practice" status = "0" onClick="status_click(this.id)" class="item">Need practice</a>
        {% endif %}
        {% if task['stats']['givehelp'] == True %}
        <a id = "givehelp_{{task['id']}}" task_id = "{{task['id']}}" type = "givehelp" status = "1" onClick="status_click(this.id)" class="active item"><i class="icon check"></i>Can help others</a>
        {% else %}
        <a id = "givehelp_{{task['id']}}" task_id = "{{task['id']}}" type = "givehelp" status = "0" onClick="status_click(this.id)" class="item">Can help others</a>
        {% endif %}
      </div>
    </div>

  </div>
  </div>

    </div>

<div class="ui fitted divider"></div>
        {% endfor %}

{% endfor %}



<script>

  function status_click(id)
  {
    var btn = document.getElementById(id)

    var objectData = {
      "status": btn.getAttribute('status'),
      "task_id": btn.getAttribute('task_id'),
      "type": btn.getAttribute('type')

    };

    console.log(btn.getAttribute('type'));

		$.ajax({
			url: '/post-todo-update',
      dataType: "json",
			data: {o: JSON.stringify(objectData)},
			type: 'POST',
			success: function(response){
				console.log(response);
        btn.setAttribute("status", response.new_status)

        if (btn.getAttribute("type")=="completed") {
          if (response.new_status==0) {
            btn.setAttribute("class", "ui small label")
            btn.innerHTML= "<small>Mark as complete</small>"
          } else {
            btn.setAttribute("class", "ui small green label")
            btn.innerHTML ="<small>Completed</small>"
            confetti()

          }
        } else {
          /* help buttons */
          var btnexplain = document.getElementById('explain_'+btn.getAttribute('task_id'))
          var btnpractice = document.getElementById('practice_'+btn.getAttribute('task_id'))
          var btnhelp = document.getElementById('givehelp_'+btn.getAttribute('task_id'))

          if (response.new_status==0) {
            btn.setAttribute("class", "item")
            if (btn.getAttribute('type')=='explain') btn.innerHTML = "Need explanation"
            if (btn.getAttribute('type')=='practice') btn.innerHTML = "Need practice"
            if (btn.getAttribute('type')=='givehelp') btn.innerHTML = "Can explain others"



          } else {
            btn.setAttribute("class", "active item")
            if (btn.getAttribute('type')=='explain')  btn.innerHTML = '<i class="icon check"></i>Need explanation'
            if (btn.getAttribute('type')=='practice')  btn.innerHTML = '<i class="icon check"></i>Need practice'
            if (btn.getAttribute('type')=='givehelp') btn.innerHTML =  '<i class="icon check"></i>Can explain others'


          }

          if (parseInt(btnexplain.getAttribute('status'))+parseInt(btnpractice.getAttribute('status'))+parseInt(btnhelp.getAttribute('status'))>0) {
            document.getElementById('req_'+btn.getAttribute('task_id')).innerHTML="<small>Support requested</small>"
          } else {
            document.getElementById('req_'+btn.getAttribute('task_id')).innerHTML="<small>Support</small>"
          }
        }


			},
			error: function(error){
				console.log(error);
			}
		});
	};

</script>

{% endblock %}
