<!-- templates/profile.html -->

{% extends "base.html" %}


</div>


{% block content %}

<div class="ui breadcrumb ">
  <a class="section" href = "/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href = "/modules/{{course.id}}">{{course.name}}</a>
  <div class="divider"> / </div>
  <a class="active section">{{module.name}}</a>

</div>


  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th></th>
        <th class="ten wide">Task</th>
        <th>Class progress</th>
        <th>Discussions</th>
        <th>Feedback</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      {% for task in tasks %}

    <tr>
        <td>1</td>
        <td><div class="content">
              {{task.Task.name}}
              <div class="description">{{task.Task.description}}
            </div></td>
        <td><div class="ui progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Uploading Files</div>
  </div></td>
        <td></td>
        <td></td>
        <td class="collapsing">
            {% if task.Checked.complete == True %}
            <a class="ui label small active green" href = /todo-update/{{module.id}}/{{task.Task.id}}>Completed</a>
            {% else %}
            <a class="ui label small" href = /todo-update/{{module.id}}/{{task.Task.id}}>Not completed</a>
            {% endif %}



        </td>

      </tr>
      {% endfor %}


    </tbody>

  </table>


{% endblock %}
